<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Untitled</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>    
<body style="background-color : #a1eafb";>
    <nav class="navbar navbar-light navbar-expand-md" style="height: 102px;">
        <div class="container-fluid"><a href="#"><img class="img-fluid" src="assets/img/Kalyani_logo.png" style="width: 80px;"></a></div>
    </nav>
    <div class="row" style="height: 200px;padding: 0px;">
        <div class="col-lg-5 offset-lg-4" style="height: 200px;">
            <p style="padding: 12px;margin: 0px;font-size: 18px;font-family: Aclonica, sans-serif;">&nbsp; Name&nbsp; &nbsp; &nbsp;:&nbsp; &nbsp; &nbsp;Narasimha Dabbara</p>
            <p style="margin: 0px;padding: 12px;font-size: 18px;font-family: Aclonica, sans-serif;">&nbsp; Reg. no&nbsp; :&nbsp; &nbsp; &nbsp;451/19024</p>
            <p style="margin: 0px;padding: 12px;font-size: 18px;font-family: Aclonica, sans-serif;">&nbsp; CGPA&nbsp; &nbsp; &nbsp; :&nbsp; &nbsp; &nbsp; 8.0</p>
        </div>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2 style="padding-left: 25%;">SEMESTER-'X'</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Here comes a shit that is dynamic
                <p style="padding-left: 75%;"><button>Confirm...!</button></p>

            </div>
        </div>
    </div>
<div class="wrapper">
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-1.png)">
                          <div class="inner">
                              <p>SEMESTER-1</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>CGPA Quote 
                                <div class="box">
                                    <a class="button" href="#popup1">Calc</a>
                                </div>
                            </p>        
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-2.png)">
                          <div class="inner">
                              <p>SEMESTER-2</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-1.png)">
                          <div class="inner">
                              <p>SEMESTER-3</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-2.png)">
                          <div class="inner">
                              <p>SEMESTER-4</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-1.png)">
                          <div class="inner">
                              <p>SEMESTER-5</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-2.png)">
                          <div class="inner">
                              <p>SEMESTER-6</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-1.png)">
                          <div class="inner">
                              <p>SEMESTER-7</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(assets/img/SEMESTER-2.png)">
                          <div class="inner">
                              <p>SEMESTER-8</p>
                <span>know more</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>CGPA Quote</p>
                              <div class="box">
                                <a class="button" href="#popup1">Calc</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
   </div>
</body>
</html>