<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ACC</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background: #ffcef3;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a href="#"><img src="{% static 'img/Kalyani_logo.png' %}" style="width: 80px;"></a></div>
    </nav>
    <div class="login-clean" style="background: rgba(241,247,252,0);opacity: 0.86;filter: brightness(100%);">
        {% if error %}
            <p class="text-center">{{error}}</p>
        {% endif %}
        <form method="post" style="background: #cabbe9;box-shadow: 9px 11px 15px 2px;" action="{% url 'login' %}">{% csrf_token  %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="{% static 'img/user.png' %}" style="width: 100px;"></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-block" type="submit" style="background: #ffcef3;">Log In</button></div><a class="forgot" href="#">Forgot your password?</a></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>